/* My Custom specifc styles */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

#nprogress .bar {
  height: 4px !important;
}

/* Navigation Bar Header Sticky Style */
.header-sticky  {
  position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  z-index: 2;
}
/* ---------------------------------------- */


.blog-card-excerpt-container {
  overflow: hidden;
  max-height: 150px;
}
@media screen and (max-width: 800px) {
  .blog-card-excerpt-container {
    overflow: hidden;
    max-height: 150px;
  }
}
@media screen and (max-width: 480px) {
  .blog-card-excerpt-container {
    overflow: hidden;
    max-height: 150px;
  }
}


/* ---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

/* Main Blog Body Paragraph Content */
.main-blog-body p {
  line-height: 1.6;
  font-size: 21px;
  overflow-wrap: break-word;
}

/* Main Title */
.blog-post h1 {
  /* font-size: clamp(32px, 5vw, 42px); */
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1.2;
  letter-spacing: -.1rem;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: 600; */
  margin: 0 auto;
  white-space: normal;
}

/* Heading */
.main-blog-body h2 {
  font-size: 32px;
}

/* Subheading */
.main-blog-body h3 {
  font-size: 26px;
}



.main-blog-body a {
  text-decoration: none;
  color: #343434;
  border-bottom: 2px solid #44be9b;
  background-color: #e7faf3;
  transition: .1s ease-in-out;
}

.main-blog-body a:hover {
  text-decoration: none;
  background-color: #c9f5e9;
}
/* --------------------------------------------- */
/* To make img images under Blog Body Responsive image */

.main-blog-body img {
  max-width: 100% !important;
    height: auto !important;
}
/* --------------------------------------- */
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

/* --------------------------------------- */
/* Blockquote Default Style */


blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
}

/* blockquote p {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
} */

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
/* --------------------------------------- */
/* Blockquote Style 0 */
blockquote.style0 {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote.style0::before {
  color: #ccc;
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote.style0 p {
  display: inline;
}
/* --------------------------------------- */

/* --------------------------------------- */
/* Blockquote Style 1 */
blockquote.style1 {
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote.style1::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote.style1::after{
  content: '';
}

blockquote.style1 span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


/* --------------------------------------- */
/* BlockQuote Style 2 */

blockquote.style2 {
  background: #f4f2ff;
  font-size: 1.2em;
  font-family:Open Sans;
  font-style: italic;
  border-radius: 3px;
  border-left: 5px solid #8e78fd;
  margin: 30px 0;
  padding: 30px;
}


/* --------------------------------------- */
/* Blockquote Style 3  */

blockquote.style3 {
  background: #f1fff2b4;
  font-size: 1.2em;
  font-family:Open Sans;
  font-style: italic;
  border-radius: 3px;
  border-left: 5px solid #2a421b;
  margin: 30px 0;
  padding: 30px;
}


/* --------------------------------------- */
/* Blockquote Style 4  */

blockquote.style4 {
  border: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .1em;
  margin: 2.5em auto;
  max-width: 540px;
  padding: 0 2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

blockquote.style4::before {
  color: #fff200;
  content: '“';
  font-family: 'georgia';
  font-size: 4em;
  left: 30%;
  pointer-events: none;
  position: absolute;
  top: -.75em;
}

blockquote.style4::after {
  bottom: -1.2em;
  color: #fff200;
  content: '”';
  font-family: 'georgia';
  font-size: 4em;
  pointer-events: none;
  position: absolute;
  right: 30%;
}

/* --------------------------------------- */
/* Blockquote Style 5  */

blockquote.style5 {
  background-color: #f7f7f7;
  line-height: 26px;
  margin: 30px 0;
  padding: 26px 30px;
  border-left-style: solid;
  border-left-width: 4px;
  border-color: #f0533a;
}

/* ----------------------------------------------- */
/* Blockquote Style 6  */
blockquote.style6 {
  font-size: 1.3rem;
  letter-spacing: -.02rem;
  margin: 1.5rem 0;
  padding: 0 0 0 3rem;
  position: relative;
  font-style: italic;
}
blockquote.style6 p {
max-width: 900px;
}

blockquote.style6>:first-child:before {
  content: "\0022";
  width: 100px;
  opacity: .15;
  font-size: 100px;
  line-height: .85;
  position: absolute;
  left: -1rem;
}

/* --------------------------------------------------------------- */




/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */


.ql-editor {
  min-height: 300px
}


.featured-image {
  width: 100%;
  max-height:500px;
  object-fit: cover
}

.main-blog-body {
  overflow-wrap:break-word; 
  /* to break long words lines to overflow of the body. Wrap around */
}

/* .container a img {width: 100%; height: auto  } */

/* .blog-card-excerpt-container {
  overflow:auto;
  height: 150px;
  background: lightblue;
  border:1px solid red;
  display: table-cell;
  white-space: nowrap;
  overflow-wrap: break-word;
} */





/*  Card */

/* /-----------------------------------------------------------------------------/ */

/* INDEX Homepage Cards Animation Styles */

.flip {
  position: relative;
}

.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.flip > .front {
  transform: rotateY(0deg);
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

.flip:hover > .front {
  transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 100%;
  /*width: 400px;*/
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04),
      4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
      7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04),
      0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
      13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04),
      16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
      19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}


/* /-----------------------------------------------------------------------------/ */

/* .vertical-line { 
  width: 50%;
  margin: auto;
  margin-top: 50%; 
  margin-bottom: 50%;
  transform: rotate(90deg);
  border-color: purple;
  } */


  /* // ----------------------------------------- Fun Face ---------------------------------------------------- */

  svg.funFace {
    display: block;
    width: 80px;
    height: 80px;
    pointer-events: none;
    transform-style: preserve-3d;
  } 


  circle.eye {
    fill: #a1a1b6;
  }
  path.top, path.bottom {
    fill: transparent;
    stroke: #a1a1b6;
    stroke-width: 1.3px;
    stroke-linecap: round;
  }
  .eye-outer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
  }
  .face {
    border: 8px solid #a1a1b6;
    border-radius: 50%;
    width: 220px;
    height: 220px;
  }
  .mouth-outer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mouth-outer svg_f {
    width: 100px;
    height: 100px;
  }
  .mouth-outer path.top, .mouth-outer path.bottom {
    stroke-width: 2px;
  }


   /* // ----------------------------------------- --------- ---------------------------------------------------- */

/* Search Box Animated */

.search-box{
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid;
  /* box-shadow: 10px 10px 50px rgba(0,0,0,.2); */
  box-shadow: 4px 8px 15px #888888;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active{
  width: 300px;
  /* max-width: 85%; */
  border: none;
}
.search-box input{
  width: 100%;
  height: 100%;
  /* border: none; */
  border: 2px solid;  
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{
  opacity: 1;
}
.search-box input::placeholder{
  color: #a6a6a6;
}
.search-box .search-icon{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 55px;
  width: 55px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  /* color: #664AFF; */
  color:#718093;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #3118bb;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active{
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .search-data{
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}
.search-box .search-data.active{
  display: none;
}


 .search-results {
  /* font: 150% system-ui; */
  /* background-color: rgb(253, 253, 253); */
  /* padding: 2rem 1rem; */
 }

.search-results:hover {
  background-color: rgba(201, 193, 157, 0.315);
  /* font-weight: 900 !important; */
  /* Don't use BOLD on hover, because that distorts/shifts the Layout for other elements adjacent to it */
  -webkit-text-stroke: 1px navy;
  /* text-stroke: 1px black; */
 /* //Firefox and Edge */
}


   /* // ----------------------------------------- --------- ---------------------------------------------------- */
   /* Media Query - Responsive typography */

   /*
   html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
   */

   /* // ----------------------------------------- --------- */ 
   
   .signin-button-style {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 1rem;
   font-weight: 100;
   /* padding: 40px; */
   /* -webkit-box-shadow: 1px 1px 10px 0 #000000; */
   /* -moz-box-shadow: 1px 1px 10px 0 #000000; */
   /* box-shadow: 1px 1px 8px 10 #000000; */
   /* text-shadow: 1px 1px 10px #000000; */
   
   -webkit-box-shadow: 1px 1px 10px 0 #888888;
   -moz-box-shadow: 1px 1px 10px 0 #888888;
   box-shadow: 1px 1px 8px 10 #888888;
   text-shadow: 1px 1px 10px #888888;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.signin-button-style:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
   
   /* ------------------------------------------------------------------------------------------------------------------------------------------------
   */

   /* To maintain tinymce editor toolbar offset from top to prevent hiding that below Header */

   div.tox-tinymce--toolbar-sticky-on div.tox-editor-header {
    top: 43px !important;
    }

    /* Basic styles for Table of Contents plugin (toc) */
.mce-toc {
  border: 1px solid gray;
}

.mce-toc h2 {
  margin: 4px;
}

.mce-toc li {
  list-style-type: none;
}

  
   /* -------------- ADDING MAC BOOK LIKE ICONS ON CODE SNIPPETS ------------- */
/* .blog-post pre {
  background-color: #eff0f1;
  padding: 16px;
  border-radius: 4px;
  overflow: auto;
  font-size: 14px;
  margin-bottom: 4.1rem;
  padding: 3.7rem 0 1.6rem .4rem;
  border-radius: 12px;
  overflow: hidden;
  background-image: url('../images/window-buttons.png');
  background-repeat: no-repeat;
  background-size: 44px 10px;
  background-position: 16px 14px;
} */

/* Adding custom Blockquote style */

/* .tinymceBlockQuote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
} */


/* /-------------------------------------------------------------------/ */

   
   /* CSS Style for Code Syntax background theme */


   pre[class*="language-"],
code[class*="language-"] {
	color: #9cdcfe;
	font-size: 13px;
	text-shadow: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	pre[class*="language-"],
	code[class*="language-"] {
		text-shadow: none;
	}
}

pre[class*="language-"] {
	padding: 2em;
	padding-top: 40px;
	margin: .5em 0;
	overflow: auto;
	background-color: #1e1e1e;
}

:not(pre) > code[class*="language-"] {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: #f9f2f4;
}


/*********************************************************
* Tokens
*/
.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6a9955;
}

.token.punctuation {
	color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
	color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #d4d4d4;
	background: #1e1e1e;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #569cd6;
}

.token.function {
	color: #dcdcaa;
}

.token.regex,
.token.important,
.token.variable {
	color: #d16969;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.constant {
	color: #9CDCFE;
}

.token.class-name, 
.token.builtin
{
	
	color: #4EC9B0;
}

.token.parameter {
	color: #9CDCFE;
}

.token.interpolation {
	color: #9CDCFE;
}

.token.punctuation.interpolation-punctuation {
	color: #569cd6;
}

.token.boolean {
	color: #569cd6;
}

.token.property {
	color: #9cdcfe;
}

.token.selector {
	color: #d7ba7d;
}

.token.tag {
	color: #569cd6;
}

.token.attr-name {
	color: #9cdcfe;
}

.token.attr-value {
	color: #ce9178;
}

.token.entity {
	color: #4ec9b0;
	cursor: unset;
}

.token.namespace {
	color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/
pre[class*="language-javascript"],
code[class*="language-javascript"] {
	color: #4ec9b0;
}

pre[class*="language-css"],
code[class*="language-css"] {
	color: #CE9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
	color: #d4d4d4;
}

.language-html .token.punctuation {
	color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
	position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
	position: relative;
	z-index: 1;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}



   /* -------------------------------------------------------------------
   ----------------------------------------------------------------------
    */
   
   
   /* ---------------------------------------------------- */
